
ion-slides {
  // height: 90%;
  ion-slide {
      display: block;
      overflow-y: scroll;
      direction: rtl;
  }
}



.title {
    color: black;
    font-size: 18px !important;
    font-weight: 300;

}

.round-button{
  // border-radius: 20% !important;
    --border-radius: 2px !important;
    --background: #FFA400;
    background: #FFA400;
    padding: 0px;
  }

.input{
  background: #FDFDFD;
  box-shadow: none !important;
  border: 2px solid #efefefc7;
  border-radius: 5px;
}


.showAll{
  opacity: .5;
  font-size: 14px;
  text-decoration: underline;
  color: #000000;
}
 .flex_content{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

 }

 .title{
  font-size: 18px;
  font-weight: bold;
}