
<ion-content class='custom-ion-content'  text-center content-justify-content-center item-align-items-center> 

  <div class="register" ion-row text-center content-justify-content-center item-align-items-center>
      <!-- <img src="assets/images/logo.png"/> -->
    
        <ion-row class='image' text-center content-justify-content-center item-align-items-center> 
          
          <img text-center content-justify-content-center item-align-items-center #imgEl [src]="img" class='middle' />

        </ion-row> 

  <ion-spinner  padding style="padding-top: 50px;"></ion-spinner>

  <div>
    {{"diognising" | translate}}
  </div>
  </div>


  <div style="width: 100%;">
    <p style="color: green; font-weight: bold;display: block;margin: auto;">
      {{download_label}} 
    </p>
  </div>
</ion-content>

<ion-footer>
  <div>
</div>
</ion-footer>

